* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    padding: 10px;
}
.nav{
    display: flex;
    align-items: center;
    background-color: black;
    justify-content: space-between;
}

.nav a{
    
    color: #fff;
    text-decoration: none;
    padding: 4px;
    font-weight: 700;
}

.nav a:hover{
    color: #FFDE2B;
    transform: scale(1.2s);
}
.nav img{
    width: 15%;
}

.body-inner{
    padding: 150px;
    text-align: center;
    background-color:  #5D00FF;
    color: #fff;
    font-family: 'Kanit', sans-serif;
}

.static a{
    display: inline;
    padding: 20px;
    text-decoration: none;
    color: black; 
}

.nav2{
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    width: 100%;
    text-align: center;
    padding: 20px;
}

.static a:hover {
    background-color: #FFFDE5;
    transform: scale(1.2s);
}

.body-inner2{
    display: flex;
    align-items: center;
    padding: 50px;
    padding-right: 120px;
}

.body-inner2 img{
    width: 450px;
    height: 450px;
    border-radius: 50%;
}

.body-inner2 h1{
    padding: 70px;
}


.body-inner3{
    display: flex;
    align-items: center;
    padding: 100px;
}

.body-inner3 img{
    width: 500px;
    height: 500px;
    border-radius: 50%;
    padding: 10px;
}

.real p{
    padding: 20px;
}

.body-inner4{
    display: flex;
    align-items: center;
    padding: 60px;
}

.Tom img{
    width: 450px;
    height: 450px;
    border-radius: 50%;
}

.body-inner4 h1{
    padding: 20px;
}

.body-inner4 p{
    padding: 10px;
}
.body-inner5{
    display: flex;
    background-color: black;
    color: #fff;
    padding:  0 260px 50px 260px;
}

.inner5 h1{
    width: 200%;
    font-size: 40px;
    padding: 80px;
    
}
.inner5 li b{
    color: #FFDE2B;
    font-size: 25px;
    padding: 20px;
}

.inner5b li b{
    color: #FFDE2B;
    font-size: 25px;
    padding: 20px;
}

.inner5 ul,
.inner5b ul{
    list-style: none;
    line-height: 2;
}

.inner5b{
    padding-top: 250px;
    padding-left: 40px;
}

.body-inner6{
    background-color: #E8E8E8;
    padding: 200px;
    padding-left: 300px;
    line-height: 2;
}

.inner6{
    display: flex;
    align-items: center;
}

.inner6b{
    padding-left: 70px;
    padding-top: 30px;
}

.body-inner6 h1{
    font-size: 40px;
    padding-left: 90px;
}

.btn{
    background-color: black;
    color: #FFDE2B;
    padding: 4px 30px;
    border-radius: 15px;
}

footer{
    background-color: black;
    color: darkgrey;
    padding: 80px;
    padding-left: 200px;
    font-weight: 500;
    cursor: pointer;
    transition: opacity 0.15s;
}

.footer-sec{
    display: flex;
}

.meme img{
    width: 200%;
    padding-left: 150px;
}

.sec-1 ul, .sec-2 ul, 
.sec-3 ul, .sec-4 ul{
    list-style: none;
}

.sec-1 ul:hover, .sec-2 ul:hover, 
.sec-3 ul:hover, .sec-4 ul:hover{
    color: #FFDE2B;
    transform: scale(1.2s);
}

.sec-1{
    padding-right: 70px;
    line-height: 1.5;
}

.sec-2{
    padding-right: 70px;
    line-height: 1.5;
}

.sec-3{
    padding-right: 70px;
    line-height: 1.5;
}

.sec-4{
    padding-right: 70px;
    line-height: 1.5;
}

.sec-1 b, .sec-2 b,
.sec-3 b, .sec-4 b{
    color: white;
}

.ref{
    margin-top: 250px;
    display: inline-flex;
}

.ref a{
    color: white;
}

.copy{
    margin-top: 50px;
}

@media (min-width: 320px) and (max-width: 568px){
    .nav img{
        width: 120%;
    }
    .nav-link {
        font-size: small;
    }
    .body-inner{
        padding: 90px;
    }
    .static a:hover{
        background-color: transparent;
    }
    .body-inner2{
        flex-direction: column-reverse;
        padding: 10px;
    }
    .body-inner2 img{
        width: 300px;
        height: 300px;
        border-radius: 50%;
    }
    .body-inner2 h1{
        padding: 45px;
    }
    .body-inner3{
        flex-direction: column;
        padding: 10px;
    }
    .body-inner3 img{
        width: 300px;
        height: 300px;
        border-radius: 50%;
    }
    .real p{
        font-size: 25px;
    }
    .body-inner4{
        flex-direction: column-reverse;
        padding: 10px;
    }
    .body-inner4 img{
        width: 300px;
        height: 300px;
        border-radius: 50%;
    }
    .body-inner4 h1{
        padding: 35px;
    }
    .body-inner4 p{
        padding-bottom: 50px;
    }
    .body-inner5{
        flex-direction: column;
        padding: 50px;
    }
    .inner5 h1{
        width: 150%;
        padding-left: 8px;
        padding-bottom: 20px;
    }
    .inner5 ul li b{
        padding: 5px;
    }
    .inner5b{
        padding: 6px;
    }
    .inner5b ul li b{
        padding: 2px;
    }
    .inner6{
        flex-direction: column;
    }
    .inner6b{
        padding: 25px;
    }
    .body-inner6{
        width: fit-content;
        padding: 20px;
    }
    .body-inner6 h1{
        padding: 0 50px;
        font-size: 35px;
        line-height: 1.5; 
    }
    .footer-sec{
        flex-direction: column;
        width: fit-content;
    }
    .meme img{
        width: 80%;
        padding: 5px;
    }
}

@media (min-width: 360px) and (max-width: 800px){
    .nav img{
        width: 100%;
    }
    .nav-link{
        margin: 5px;
    }
    .body-inner{
        padding: 60px;
    }
    .static a:hover{
        background-color: transparent;
    }
    .body-inner2{
        flex-direction: column-reverse;
        padding: 10px;
    }
    .body-inner2 img{
        width: 340px;
        height: 340px;
        border-radius: 50%;
    }
    .body-inner2 h1{
        padding: 45px;
    }
    .body-inner3{
        flex-direction: column;
        padding: 10px;
    }
    .body-inner3 img{
        width: 340px;
        height: 340px;
        border-radius: 50%;
    }
    .real p{
        font-size: 25px;
    }
    .body-inner4{
        flex-direction: column-reverse;
        padding: 10px;
    }
    .body-inner4 img{
        width: 340px;
        height: 340px;
        border-radius: 50%;
    }
    .body-inner4 h1{
        padding: 35px;
    }
    .body-inner4 p{
        padding-bottom: 50px;
    }
    .body-inner5{
        flex-direction: column;
        padding: 50px;
    }
    .inner5 h1{
        width: 150%;
        padding-left: 8px;
        padding-bottom: 30px;
    }
    .inner5 ul li b{
        padding: 5px;
    }
    .inner5b{
        padding: 6px;
    }
    .inner5b ul li b{
        padding: 2px;
    }
    .inner6{
        flex-direction: column;
    }
    .body-inner6{
        width: fit-content;
        padding: 20px;
    }
    .body-inner6 h1{
        padding: 0 80px;
        font-size: 35px;
        line-height: 1.5; 
    }
    .footer-sec{
        flex-direction: column;
        width: 150%;
    }
    .meme img{
        width: 80%;
        padding: 5px;
    }
}

@media (min-width: 390px) and (max-width: 844px){
    .nav img{
        width: 90%;
    }
    .nav-link{
        margin: 5px;
    }
    .body-inner{
        padding: 90px;
    }
    .static a:hover{
        background-color: transparent;
    }
    .body-inner2{
        flex-direction: column-reverse;
        padding: 10px;
    }
    .body-inner2 img{
        width: 380px;
        height: 380px;
        border-radius: 50%;
    }
    .body-inner2 h1{
        padding: 45px;
    }
    .body-inner3{
        flex-direction: column;
        padding: 10px;
    }
    .body-inner3 img{
        width: 380px;
        height: 380px;
        border-radius: 50%;
    }
    .real p{
        font-size: 25px;
    }
    .body-inner4{
        flex-direction: column-reverse;
        padding: 10px;
    }
    .body-inner4 img{
        width: 380px;
        height: 380px;
        border-radius: 50%;
    }
    .body-inner4 h1{
        padding: 35px;
    }
    .body-inner4 p{
        padding-bottom: 50px;
    }
    .body-inner5{
        flex-direction: column;
        padding: 50px;
    }
    .inner5 h1{
        width: 150%;
        padding-left: 8px;
    }
    .inner5 ul li b{
        padding: 5px;
    }
    .inner5b{
        padding: 6px;
    }
    .inner5b ul li b{
        padding: 2px;
    }
    .inner6{
        flex-direction: column;
    }
    .body-inner6{
        width: fit-content;
        padding: 20px;
    }
    .body-inner6 h1{
        padding: 0 80px;
        font-size: 35px;
        line-height: 1.5; 
    }
    .footer-sec{
        flex-direction: column;
        width: fit-content;
    }
    .meme img{
        width: 80%;
        padding: 5px;
    }
}
    
